<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">

    <title>
        {% block title %}
            {% if title is not null %}
                {{ title }} | dati.alesssandria.it
            {% else %}
                dati.alesssandria.it
            {% endif %}
        {% endblock %}
    </title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% endblock %}

    {% stylesheets '@PugAlOdalBundle/Resources/assets/scss/odal.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
{% block body %}
    <div id="wrap">
        {% block navigation %}
            <header class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">dati.alessandria.it</a>
                    </div>

                    <nav class="collapse navbar-collapse">
                        {{ knp_menu_render('PugAlOdalBundle:Builder:mainMenu', {'nav_type': 'navbar'}) }}
                    </nav>
                </div>

            </header>
        {% endblock navigation %}

        <div class="container">

            {% if title is not null %}
                <div class="page-header">
                    <h1>{% block page_title %}{{ title }}{% endblock %}</h1>
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="col-xs-6">
                <p class="muted credit pull-left">OpenDataAlessandria</p>
            </div>

            <div class="col-xs-6">
                <p class="muted credit pull-right">Made with love in Alessandria</p>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% javascripts '@PugAlOdalBundle/Resources/public/js/vendor/modernizr.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
